<!doctype html>
<html lang="pl"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/admin}">
<body>
<div layout:fragment="content">
	<form method="POST" th:object="${customer}">
		<div class="row g-2">
			<div class="col-12">
				<div class="h6">Dane abonenta</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-floating">
					<input class="form-control" id="first-name-input" placeholder="Imię" th:field="*{firstName}"/>
					<label for="first-name-input">Imię *</label>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-floating">
					<input class="form-control" id="last-name-input" placeholder="Nazwisko" th:field="*{lastName}"/>
					<label for="last-name-input">Nazwisko *</label>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-floating">
					<input class="form-control" id="pesel-input" placeholder="PESEL" th:field="*{pesel}"/>
					<label for="pesel-input">PESEL *</label>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-floating">
					<input class="form-control" id="birth-date-input" type="date" placeholder="Data urodzenia" th:field="*{birthDate}"/>
					<label for="birth-date-input">Data urodzenia *</label>
				</div>
			</div>
			<div class="col-12">
				<div class="h6">Adres zamieszkania</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-floating">
					<input class="form-control" id="street-input" placeholder="Ulica" th:field="*{address.street}"/>
					<label for="street-input">Ulica</label>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-floating">
					<input class="form-control" id="building-input" placeholder="Nr budynku" th:field="*{address.buildingNumber}"/>
					<label for="building-input">Nr budynku *</label>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-floating">
					<input class="form-control" id="apartment-input" placeholder="Nr mieszkania" th:field="*{address.apartmentNumber}"/>
					<label for="apartment-input">Nr mieszkania</label>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="form-floating">
					<input class="form-control" id="postal-code-input" placeholder="Kod pocztowy" th:field="*{address.postalCode}"/>
					<label for="postal-code-input">Kod pocztowy *</label>
				</div>
			</div>
			<div class="col-12 col-md-9">
				<div class="form-floating">
					<input class="form-control" id="city-input" placeholder="Miejscowość" th:field="*{address.city}"/>
					<label for="city-input">Miejscowość *</label>
				</div>
			</div>
			<div th:if="${errors != null}" class="col-12">
				<div class="alert alert-danger">
					<ul class="mb-0">
						<li th:each="error : ${errors.getAllErrors()}" th:text="${error.getDefaultMessage()}"></li>
					</ul>
				</div>
			</div>
			<div class="col-12 text-end">
				<a class="btn btn-secondary" th:href="@{/admin/users/{id}(id=${user.id})}">Anuluj</a>
				<button type="submit" class="btn btn-primary">Zapisz</button>
			</div>
		</div>
	</form>
</div>
</body>
</html>
