<!doctype html>
<html lang="pl"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/admin}">
<body>
<div layout:fragment="content" th:object="${criteria}">
	<div class="d-flex justify-content-between align-items-center mb-2">
		<div class="h5">Użytkownicy</div>
		<div class="d-flex gap-2">
			<a class="btn btn-outline-primary" th:href="@{/admin/users/create}">
				<i class="fa-solid fa-plus"></i>
			</a>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered">
			<tr>
				<th>
					<div class="d-flex justify-content-between align-items-center">
						<span class="me-3">Użytkownik</span>
						<div>
							<a th:href="@{/admin/users(page='0', pageSize=${criteria.pageSize}, orderBy='username', orderDirection='ASC')}"
							   th:classappend="${#bools.isTrue(criteria.orderBy?.equals('username')) && #bools.isTrue(criteria.orderDirection?.equals('ASC')) ? 'sort-active' : 'sort-inactive'}">
								<i class="fa-solid fa-caret-up"></i>
							</a>
							<a th:href="@{/admin/users(page='0', pageSize=${criteria.pageSize}, orderBy='username', orderDirection='DESC')}"
							   th:classappend="${#bools.isTrue(criteria.orderBy?.equals('username')) && #bools.isTrue(criteria.orderDirection?.equals('DESC')) ? 'sort-active' : 'sort-inactive'}">
								<i class="fa-solid fa-caret-down"></i>
							</a>
						</div>
					</div>
				</th>
				<th>
					<div class="d-flex justify-content-between align-items-center">
						<span class="me-3">Abonent</span>
						<div>
							<a th:href="@{/admin/users(page='0', pageSize=${criteria.pageSize}, orderBy='customer', orderDirection='ASC')}"
							   th:classappend="${#bools.isTrue(criteria.orderBy?.equals('customer')) && #bools.isTrue(criteria.orderDirection?.equals('ASC')) ? 'sort-active' : 'sort-inactive'}">
								<i class="fa-solid fa-caret-up"></i>
							</a>
							<a th:href="@{/admin/users(page='0', pageSize=${criteria.pageSize}, orderBy='customer', orderDirection='DESC')}"
							   th:classappend="${#bools.isTrue(criteria.orderBy?.equals('customer')) && #bools.isTrue(criteria.orderDirection?.equals('DESC')) ? 'sort-active' : 'sort-inactive'}">
								<i class="fa-solid fa-caret-down"></i>
							</a>
						</div>
					</div>
				</th>
				<th></th>
			</tr>
			<tr th:each="user : ${users}" th:object="${user}">
				<td th:text="*{username}"></td>
				<td th:text="*{customer?.fullName}"></td>
				<td class="text-center">
					<a th:href="@{/admin/users/{id}(id=${user.id})}" class="btn btn-outline-primary btn-sm">
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="row mt-3">
		<div class="col-md-3">
			<select id="page-size-select" class="form-select" th:field="*{pageSize}">
				<option th:value="10" th:text="10"></option>
				<option th:value="25" th:text="25"></option>
				<option th:value="50" th:text="50"></option>
				<option th:value="100" th:text="100"></option>
			</select>
		</div>
		<div class="col mt-3 mt-md-0">
			<ul class="pagination justify-content-center justify-content-md-end">
				<li class="page-item">
					<a th:href="@{/admin/users(page=${criteria.page - 1}, pageSize=${criteria.pageSize}, orderBy=${criteria.orderBy}, orderDirection=${criteria.orderDirection})}"
					   th:classappend="${criteria.page > 0 ? '' : 'disabled'}"
					   class="page-link">
						<i class="fa-solid fa-chevron-left"></i>
					</a>
				</li>
				<li class="page-item">
					<a th:href="@{/admin/users(page=${criteria.page + 1}, pageSize=${criteria.pageSize}, orderBy=${criteria.orderBy}, orderDirection=${criteria.orderDirection})}"
					   th:classappend="${criteria.page < users.totalPages - 1 ? '' : 'disabled'}"
					   class="page-link">
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
