<!doctype html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
	<form action="login" method="POST" class="form-container">
		<h1 class="text-primary">Smartcom</h1>
		<div class="form-floating">
			<input type="text" id="input-username" name="username" class="form-control" placeholder="Nazwa użytkownika">
			<label for="input-username">Nazwa użytkownika</label>
		</div>
		<div class="form-floating">
			<input type="password" id="input-password" name="password" class="form-control" placeholder="Hasło"/>
			<label for="input-password">Hasło</label>
		</div>
		<button name="submit" type="submit" class="btn btn-primary">
			Login
		</button>
	</form>
</div>
</body>
</html>
